.header {
  display: grid;
  grid-template-columns: 1fr;
  background-color: rgb(116, 168, 218);
  vertical-align: top;

  &__wrapper {
    display: flex;
    align-items: center;
    padding: 10px;
  
    .logo {
      width: 55px;
      height: 55px;
      margin-left: 40px;
      cursor: pointer;
    }

    .name {
      font-size: 24px;
      font-weight: 500;
      font-family: Roboto;
    
      margin-left: 150px;
    }

    .menu {
      position: absolute;
      right: 17px;
      top: 17px;
    }
  }
}