.search {
  &__company {
    div {
      padding: 0;
    }
    input {
      width: 400px;
      height: 40px;
    }
    button {
      height: 40px;
    }
  }
  &_error {
    font-size: 16px;
    color: red;
    border: 1px solid red;
  }

  &__region {

    h3 {
      text-align: center;
    }
    ul {
      overflow-y: scroll; 
      height: 430px;
    }
  }
}

li {
  list-style: none;
}

.ant-modal {
  max-width: 450px;  
  .ant-modal-body {
    padding: 15px 10px 5px 10px;
  }
}

