.companyList {
  text-align: left;
  width: 400px;
  margin-left: 20px;
  background-color: white;
  padding: 10px;
  
  height: 615px;

  .company {
    
    &_active {
      background-color: #F3E6E6;
    }

    .active {
      background-color: #74A8DA;
    }

    .unActive {
      background-color: rgb(230, 118, 137);
    }

    &:hover {
      cursor: pointer;
      background-color: #F3E6E6;
    }
  }
}