.description {
  text-align: left;
  width: 400px;
  height: 615px;
  margin-left: 20px;
  background-color: white;
  padding: 10px;
  overflow-y: scroll;
}


.active {
  background-color: #74A8DA;
}

.unActive {
  background-color: rgb(230, 118, 137);
}
